@model List<User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div>
        <div class="table-responsive">
            <table class="table table-no-more table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Organization</th>
                        @if (User.IsInRole("superAdmin"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <figure class="profile-picture">
                                    <img src="@user.AvatarUrl" alt="Joseph Doe" class="img-circle" data-lock-picture="~/assets/images/!logged-user.jpg" />
                                </figure>
                            </td>
                            <td style="vertical-align:middle">@user.FullName</td>
                            <td style="vertical-align:middle">@user.Organization</td>
                            @if (User.IsInRole("superAdmin"))
                            {
                                <td class="text-center" style="vertical-align:middle"><a href="/Users/@user.Id" class="btn btn-success">Edit</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>