@model List<string>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Project</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="projectName">Project Name: </label>
                                <input type="text" name="projectName" id="projectName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="gitUrl">Git URL: </label>
                                <input type="text" name="gitUrl" id="gitUrl" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success" type="submit" name="submit" value="Add" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#projectModal">Add Project</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="col-lg-12">
                    @foreach (var projectName in Model)
                    {
                        <div class="row fa-border">
                            <div class="col-lg-11">
                                <a href="~/Projects/@projectName"><h4>@projectName</h4></a>
                            </div>
                            <div class="col-lg-1">
                                <div class="btn-group">
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-default dropdown-toggle" data-toggle="dropdown">Tasks <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="~/Projects/@projectName/Update" class="btn btn-default">Update</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>