@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddConfig</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddConfig", "Home", FormMethod.Post))
        {
            <h2>Add new config</h2>
            <br />
            <textarea name="config" id="config" style="width:100%;min-height:500px;"></textarea>
            <br />
            <br />
            <label for="gitUrl">Git URL: </label>
            <input type="text" name="gitUrl" id="gitUrl" value="" />
            <br />
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" value="" />
            <br />
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" value="" />
            <br />
            <label for="username">Password: </label>
            <input type="text" name="password" id="password" value="" />
            <br />
            <label for="username">Message: </label>
            <input type="text" name="message" id="message" value="" />
            <br />
            <input type="submit" name="submit" value="Update" />
        }
    </div>
</body>
</html>
