@model Elders.Pandora.UI.Models.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Config</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Config", "Home", FormMethod.Post))
        {
            <h2>@Model.Name</h2>
            <br />
            @Html.TextAreaFor(x => x.Content, new { style = "width:100%;min-height:500px;" })
            <br />
            <br />
            <label for="gitUrl">Git URL: </label>
            <input type="text" name="gitUrl" id="gitUrl" value="" />
            <br />
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" value="" />
            <br />
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" value="" />
            <br />
            <label for="username">Password: </label>
            <input type="text" name="password" id="password" value="" />
            <br />
            <label for="username">Message: </label>
            <input type="text" name="message" id="message" value="" />
            <br />
            <input type="submit" name="submit" value="Update" />
        }
    </div>
</body>
</html>
