@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Connect", "Home"))
        {
            <label for="apiEndPoint">Api URL:</label>
            <input type="text" name="apiEndPoint" id="apiEndPoint" value="" />
            <br />
            <input type="submit" name="connect" value="Connect" />
        }
    </div>
</body>
</html>
