@model List<Elders.Pandora.UI.Models.Configuration>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configs</title>
</head>
<body>
    <div>
        @foreach (var cfg in Model)
        {
            <a href="~/Home/Config?name=@cfg.Name">@cfg.Name</a>
            <br />
        }
    </div>
    <div>
        <a href="~/Home/AddConfig">Add Config</a>
    </div>
</body>
</html>
